<div class="container">

  <form name="filter">
    <div class="form-group">
      <input name="search" ng-model="search" type="text" class="form-control input-lg" placeholder="Search by name or snippet">
    </div>
  </form>
  
  <table class="table" ng-show="phones.length > 0">
    <tr>
      <th>
        <a href="" ng-click="setOrderProp('name')">id
          <orderarrow 
            ng-show="orderProp === 'name'" 
            direction="{{orderReversed}}"
          ></orderarrow>
        </a>
      </th>
      <th>
        <a href="" ng-click="setOrderProp('snippet')">snippet
          <orderarrow 
            ng-show="orderProp === 'snippet'" 
            direction="{{orderReversed}}"
          ></orderarrow>
        </a>
      </th>
      <th>
        tags
      </th>
      <th>
        <a href="" ng-click="setOrderProp('price')">price
          <orderarrow 
            ng-show="orderProp === 'price'" 
            direction="{{orderReversed}}"
          ></orderarrow>
        </a>
        
      </th>
      <th></th>
    </tr>
    <tr ng-repeat="el in phones | filter:search | orderBy:orderProp:orderReversed">
      <td>
        <a href="#/item/{{el.id}}">{{el.name}}</a>
      </td>
      <td>
        {{el.snippet}}
      </td>
      <td>
        <ul>
          <li ng-repeat="tag in el.tags">{{tag}}</li>
        </ul>
      </td>
      <td>
        {{el.price}}
      </td>
      <td><button class="btn btn-danger btn-xs" ng-click="removePhone(el.id)">Remove</button></td>
    </tr>
  </table>

  <div class="alert alert-warning" ng-show="phones.length === 0">
    Данных пока нету, воспользуйтесь <b><a href="#/create">формой</a></b> для создания
  </div>

</div>